[Unit]
Description=Kiorg portal backend (xdg-desktop-portal)
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.kiorg
ExecStart=/usr/lib/xdg-desktop-portal-kiorg
Restart=on-failure

[Install]
WantedBy=graphical-session.target
